
<div class="prod-card">
    <div *ngFor="let card of products ">
        <app-cart-card [cartObj]="card"></app-cart-card>
    </div>
</div>
<div >
    <span >Total Price: {{cartPrice}}</span>
    <div class="remove-buttom">
        <button mat-raised-button  color="warn" [disabled]="!products.length" (click)="clearCart()">
            Clear Cart
        </button>
    </div>
    <div class="order-button">
        <button mat-raised-button  color="primary" [disabled]="!products.length" routerLink="/order">
            Order
        </button>
    </div>
</div>