<mat-card class="example-card"  [class.point]="role=='admin'"(click)="adminEdit()">
        
    <img mat-card-image src="{{productObj.image}}" class="card-image">
    <mat-card-title class="card-title">{{productObj.name}}</mat-card-title>
    <mat-card-content>
        <span> PRICE: {{productObj.price}} ₪</span><span *ngIf="productObj.per_kg"> a kg</span>
        <mat-card-actions class-="card-actions" >
            <button mat-button (click)="openDialog()" *ngIf="role === 'user'">ADD TO CART</button>
            <button mat-button *ngIf="role === 'admin'">EDIT</button>
            <button mat-button disabled  *ngIf="role === 'ex'">Log In To Buy</button>
        </mat-card-actions>
    </mat-card-content>

</mat-card>