<mat-card class="example-card">
        
    <img mat-card-image src="http://{{productObj.image}}" class="card-image">
    <mat-card-title class="card-title">{{productObj.name}}</mat-card-title>
    <mat-card-content>
        <span> PRICE: {{productObj.price}} ₪</span><span *ngIf="productObj.per_kg"> a kg</span>
        <mat-card-actions class-="card-actions">
            <button mat-button (click)="openDialog()">ADD TO CART</button>
        </mat-card-actions>
    </mat-card-content>

</mat-card>