.main-body > div{
    margin: 20px;
    border-radius: 5px;
    flex-grow: 1;
    max-width: 400px;
}
.main-body{
    padding-top: 20px;
    display: flex;

}

.warp{
    width: 100%;
border-bottom: 1px solid black;
}

@media only screen and (max-width: 800px) {
    .main-body {
        display: block
    }
  }  