.defualt-input{
    display: block
}
.auth-body {
    margin:auto;
    display: inline-block;
    width: 90%;
    /* text-align: center; */
    padding: 20px;
}
.text-red{
    color: red;
}

.d-none{
    display: none
}