.admin-body{
    height: 100vh;
  }

  .pc-container{
    display: flex;
    position: absolute;
    min-height: 100vh;
    background-color: transparent;
}
.show-button{
    position: relative;
  align-self: flex-start;
  margin-top: 58px;
  }
  .pc-admin{
      min-height: 100vh;
      min-width: 300px;
      max-width: 300px;
      overflow-x: scroll;
      background: turquoise;
      background: linear-gradient(117deg, rgba(64, 224, 208,1) 5%, rgba(250,250,250,1) 50%, rgba(64, 224, 208,1) 97%);
      background-repeat: no-repeat;
      background-attachment: fixed;
      border-right: 0.5 grey solid;
      padding: 5px;
  }
  
  .mobile-container {
    height: 100%;
    display: none;
    background-color: transparent;
    max-width: 360px;
  }
  .mobile-container *{
    max-width: 300px;
  }
  
  .mobile-sidenav-content {
    display: flex;
    align-items: center;
   }
  
  .mobile-sidenav {
    padding: 5px;
    background: turquoise;
    flex-wrap: wrap;
    background: linear-gradient(117deg, rgba(64, 224, 208,1) 5%, rgba(250,250,250,1) 50%, rgba(64, 224, 208,1) 97%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 300px;

  }
  

  


@media only screen and (max-width: 800px) {
    .mobile-container {
        display: flex
    }
    .pc-container{
        display: none;
    }
    .mobile-sidenav-content {
    padding-left: 10px;
    }
  }  