/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif; 
     background: rgb(255, 215, 198);
     background: linear-gradient(117deg, rgba(255, 215, 198,1) 5%, rgba(250,250,250,1) 50%, rgba(255, 215, 198,1) 97%);
     background-repeat: no-repeat;
     background-attachment: fixed;
    }
